---
import Content from "../../../components/Content.svelte";
import TextBox from "../../../components/TextBox.svelte";
import Title from "../../../components/Title.svelte";
import SponsorList from "../../../components/SponsorList.svelte";
import Layout from "../../../layouts/Layout.astro";

---
<Layout title="Team Undefined">
<Content column uncentered big>
    <Title>Our Sponsors</Title>
    <Title secondary>We can't thank them enough!</Title>
    <TextBox>Our sponsors help us reach our goals and aid in developing our robot!</TextBox>
</Content>

<Content wrap>
    <SponsorList></SponsorList>
</Content>

<Content big></Content>
</Layout>