@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;700&family=Secular+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-default: 81, 146, 89;
		--color-darkdefault: 76, 112, 95;
		--color-disabled: 6, 70, 53;
		--color-active: 241, 174, 58;
		--color-orange: 247, 144, 30;
		--color-secondary: 244, 238, 169;
	}
	html {
		font-family: 'Noto Sans';
		background-color: #F6F6F6;
	}
    body {
        font-family: 'Noto Sans';
    }

	.linkundefined {
		text-decoration: underline;
	}

	.divcenter {
		display: flex;
    	justify-content: center; /* Centers horizontally */
    	align-items: center;
	}
}